<ion-header [translucent]="true" mode="ios">
  <ion-toolbar mode="md">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button text="Voltar" color="danger"></ion-back-button>
    </ion-buttons>
    <ion-title>ESQUECI SENHA</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" mode="ios">
  <ion-grid>
    <ion-card color="purple">
      <img
        alt="Floating astronaut"
        src="https://ouch-cdn2.icons8.com/NmRAH8paDSVLJxJelz1K7DD524VrRZx9ocmetN3uxOk/rs:fit:256:203/czM6Ly9pY29uczgu/b3VjaC1wcm9kLmFz/c2V0cy9zdmcvOTI2/L2E5NGNkMGM2LWRk/NDktNDZiMi05OGEw/LWQ2ZWFhMzgzOGRi/Zi5zdmc.png"
      />
      <ion-card-header>
        <ion-card-title style="font-size: 1.05rem; font-weight: 800"
          >BEM-VINDO USUÁRIO!</ion-card-title
        >
        <ion-card-subtitle style="font-weight: 500"
          >🌱 Venha ser mais um membro Forms</ion-card-subtitle
        >
      </ion-card-header>
      <ion-card-content>
        <ion-row>
          <ion-item>
            <ion-label position="stacked">Código de Recuperação</ion-label>
            <ion-input
              [clearInput]="true"
              type="password"
              placeholder="Insira um código válido"
            ></ion-input>
            <ion-note slot="helper">Insira um código válido</ion-note>
          </ion-item>
        </ion-row>
        <div id="login-buttons">
          <ion-row>
            <ion-button
              fill="outline"
              expand="block"
              color="tertiary"
              class="font-weight-700"
              >ENVIAR</ion-button
            >
          </ion-row>
          <ion-row id="already-has-account">
            <ion-button
              fill="outline"
              expand="block"
              color="lime"
              routerLink="/register"
              class="font-weight-700"
              >RE-ENVIAR CONFIRMAÇÃO</ion-button
            >
          </ion-row>
        </div>
      </ion-card-content>
    </ion-card>
  </ion-grid>
</ion-content>
