<ion-header mode="ios">
  <ion-toolbar mode="md">
    <ion-buttons slot="secondary">
      <ion-button routerLink="/register-product">
        <ion-icon slot="icon-only" name="cart"></ion-icon>
      </ion-button>
      <ion-button routerLink="/register">
        <ion-icon slot="icon-only" name="person-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>HOME</ion-title>
    <ion-note style="padding-left: 1.2rem;">Painel de Controle</ion-note>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" mode="ios">
  <ion-item>
    <ion-icon name="cart" slot="start"></ion-icon>
    <ion-label class="font-weight-600">PRODUTOS</ion-label>
    <ion-note class="font-weight-600" style="float: right;">{{productsList.length}}
      produto{{productsList.length !== 1 && 's' || ''}} encontrado{{productsList.length !== 1 && 's' || ''}}</ion-note>
  </ion-item>
  <ion-grid>
    <ion-item-sliding *ngFor="let product of productsList">

      <ion-item>
        <ion-label>{{product.name}}</ion-label>
        <ion-note style="float: right;">R$ {{product.price}}</ion-note>
      </ion-item>

      <ion-item-options>
        <ion-item-option color="danger" (click)="removeProduct(product)">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>

    </ion-item-sliding>
  </ion-grid>
</ion-content>
