<ion-header mode="ios">
  <ion-toolbar mode="md">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button text="Voltar" color="danger"></ion-back-button>
    </ion-buttons>
    <ion-title>REGISTRAR</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" mode="ios">
  <ion-grid>
    <form [formGroup]="formRegister">
      <ion-card color="purple">
        <img
          alt="Rocket ship facing the sky"
          src="https://ouch-cdn2.icons8.com/I7f3gu3VFD-I26j91xnJLAMkQbSJfI05nEpE47_Ve8E/rs:fit:256:213/czM6Ly9pY29uczgu/b3VjaC1wcm9kLmFz/c2V0cy9zdmcvNjc1/LzNjN2Q3YmI4LTI5/YWUtNDE1My1hMjky/LTI2YjgxZTVkYTZm/My5zdmc.png"
        />
        <ion-card-header>
          <ion-card-title>ESPERAR PRA QUE?</ion-card-title>
          <ion-card-subtitle>🚀 Venha ser mais um membro Forms</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <ion-row>
            <ion-item>
              <ion-label position="stacked" class="font-weight-500"
                >Nome</ion-label
              >
              <ion-input
                autofocus="true"
                [clearInput]="true"
                type="text"
                class="font-weight-400"
                placeholder="Insira seu Nome"
                minlength="3"
                formControlName="name"
                autocomplete="name"
              ></ion-input>

            </ion-item>
            <ng-container *ngFor="let error of errorMessages.name">
              <ion-note
                *ngIf="formRegister.get('name').hasError(error.type) &&
                (formRegister.get('name').dirty ||
                formRegister.get('name').touched)">
                {{error.message}}
                <ion-icon name="close" color="danger"></ion-icon>
              </ion-note>
            </ng-container>
          </ion-row>
          <ion-row>
            <ion-item>
              <ion-label position="stacked" class="font-weight-500"
                >E-mail</ion-label
              >
              <ion-input
                autofocus="true"
                [clearInput]="true"
                type="email"
                class="font-weight-400"
                placeholder="Insira seu E-Mail"
                formControlName="email"
                ngModel
                email
              ></ion-input>
            </ion-item>
            <ng-container *ngFor="let error of errorMessages.email">
              <ion-note
                *ngIf="formRegister.get('email').hasError(error.type) &&
                (formRegister.get('email').dirty ||
                formRegister.get('email').touched)">
                {{error.message}}
                <ion-icon name="close" color="danger"></ion-icon>
              </ion-note>
            </ng-container>
          </ion-row>
          <ion-row>
            <ion-item>
              <ion-label position="stacked">CPF</ion-label>
              <ion-input
                [clearInput]="true"
                type="text"
                placeholder="Insira seu CPF"
                formControlName="cpf"
                minlength="10"
                maxlength="12"
              ></ion-input>
            </ion-item>
            <ng-container *ngFor="let error of errorMessages.cpf">
              <ion-note
                *ngIf="formRegister.get('cpf').hasError(error.type) &&
                (formRegister.get('cpf').dirty ||
                formRegister.get('cpf').touched)">
                {{error.message}}
                <ion-icon name="close" color="danger"></ion-icon>
              </ion-note>
            </ng-container>
          </ion-row>
          <ion-row>
            <ion-item>
              <ion-label position="stacked">Senha</ion-label>
              <ion-input
                [clearInput]="true"
                type="password"
                placeholder="Insira sua senha"
                formControlName="password"
                minlength="6"
                maxlength="40"
              ></ion-input>
            </ion-item>
            <ng-container *ngFor="let error of errorMessages.password">
              <ion-note
                *ngIf="formRegister.get('password').hasError(error.type) &&
                (formRegister.get('password').dirty ||
                formRegister.get('password').touched)">
                {{error.message}}
                <ion-icon name="close" color="danger"></ion-icon>
              </ion-note>
            </ng-container>
          </ion-row>
          <ion-row>
            <ion-item>
              <ion-label position="stacked">Confirmar Senha</ion-label>
              <ion-input
                [clearInput]="true"
                type="password"
                formControlName="confirmPassword"
                placeholder="Confirme sua senha"
                minlength="6"
                maxlength="40"
              ></ion-input>
              <div class="error-message" *ngIf="!formRegister.get('confirmPassword').errors && formRegister.hasError('passwordNotMatch') && (formRegister.get('confirmPassword').dirty || formRegister.get('confirmPassword').touched)">
                Password and Confirm Password fields should match
              </div>
            </ion-item>
            <ng-container *ngFor="let error of errorMessages.confirmPassword">
              <ion-note
                *ngIf="formRegister.get('confirmPassword').hasError(error.type) &&
                (formRegister.get('confirmPassword').dirty ||
                formRegister.get('confirmPassword').touched)">
                {{error.message}}
                <ion-icon name="close" color="danger"></ion-icon>
              </ion-note>
            </ng-container>
          </ion-row>
          <div id="login-buttons">
            <ion-row>
              <ion-button
                fill="outline"
                expand="block"
                color="tertiary"
                class="font-weight-700"
                (click)="saveRegister()"
                >REGISTRAR</ion-button
              >
            </ion-row>
            <ion-row id="already-has-account">
              <ion-label>Já possui uma conta?</ion-label>
              <ion-button
                fill="outline"
                expand="block"
                color="lime"
                class="font-weight-700"
                routerLink="/login"
                >VOLTAR AO LOGIN</ion-button
              >
            </ion-row>
          </div>
        </ion-card-content>
      </ion-card>
    </form>
  </ion-grid>
</ion-content>
